.sec-sobre {
  padding-top: 70px;
  box-sizing: border-box;
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-sobre-img {
  width: 50%;
  /* height: 100vh; */
}

.esconder {
  display: none;
}

.sec-sobre h2 {
  display: inline;
}

.sec-sobre-h2 {
  text-align: center;
}

.sec-sobre-p {
  text-align: justify;
  font-size: smaller;
  margin-top: 5%;
  width: 300px;
  margin-inline: auto;
}

.sec-sobre-p-meio {
  margin: 3% 0;
}

.sec-sobre-text {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  justify-content: center;
  /* margin-top: 20%; */
}

.sec-sobre-formacao {
  margin-top: 3%;
  text-align: center;
}

.sec-sobre-formacao h3 {
  margin-bottom: 2%;
}

.sec-sobre-formacao p {
  font-size: 0.9rem;
  margin-bottom: 2%;
}
.sec-sobre-minha-foto {
  margin-top: 2%;
  width: 100px;
  border-radius: 50%;
  margin-inline: auto;
  pointer-events: none;
}

/* para pc */
@media (min-width: 769px) and (max-width: 1000px) {
  body {
    font-size: x-large;
  }
  .sec-sobre {
    width: 100%;
    justify-content: center;
  }
  .sec-sobre-text {
    margin-top: 0;
  }
  .sec-sobre-p {
    width: 700px;
  }
  .sec-sobre-formacao {
    justify-content: left;
    text-align: start;
  }
}
@media (min-width: 1001px) {
  body {
    justify-content: space-between;
  }
  .sec-sobre {
    flex-direction: row;
  }
  .sec-sobre-setup {
    pointer-events: none;
    /* height: 100vh; */
    width: 100%;
    left: 0px;
  }
  .sec-sobre-text {
    margin-top: 0;
  }
  .sec-sobre-p {
    width: 450px;
  }
  .sec-sobre-formacao {
    justify-content: left;
    text-align: start;
  }
  .esconder {
    display: initial;
  }
}