/* Definição do Inicio */
.sec-inicio {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
}
.text-inicio {
  font: 0.7rem sans-serif;
  width: 100%; 
  margin-bottom: 20%;
  padding-left: 15%;
  text-align: start;
  justify-content: start;
}
.name {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
}
.first-name {
  margin-right: 2%;
}
.letra-cor-fixa, .cor-verde {
  color: #83DA8A;
}

/* inicio da animação de escrita */
.escrevendo-cargo-div {
  display: flex;
  margin-bottom: 20px;
}
.escrevendo-cargo-div > span { /* Estiliza o '>' */
  font-size: 0.9rem;
  margin-right: 10px;
}
.escrevendo-cargo {
  font-size: 0.8rem;
  color: #83DA8A;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #83DA8A;
  animation:
    typing-loop 6s steps(16, end) infinite, /* Ajuste a duração total e adicione 'infinite' */
    blink-cursor .75s step-end infinite;
  width: 21ch; 
  margin-bottom: 0;
}
@keyframes typing-loop {
  0% { 
    width: 0 
  } 50% { 
    width: 21ch /* Digita todo o texto */
  } 90% { 
    width: 21ch /* Mantém visível por um tempo */
  } 100% { 
    width: 0 /* Apaga */
  }
}
/* fim da animação de escrita */
.React-logo-div {
  pointer-events: none;
}
.React-logo {
  height: 250px;
  width: 250px;
}
@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 20s linear;
  }
}
@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.redes-sociais {
  display: flex;
  margin-top: 20px;
}
.rede-social {
  margin-right: 15px;
  height: 30px;
  width: 30px;
  border-radius: 10%;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* para pc */
@media (min-width: 769px) and (max-width: 1100px) {
  .sec-inicio {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 5%;
    align-items: center;
    min-height: 100vh;
  }
  .text-inicio {
    width: 50%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .name {
    flex-direction: row;
    text-align: left;
    font-size: 1.5rem;
  }
  .letra-cor:hover {
    color: #83DA8A;
  }
  .escrevendo-cargo-div {
    align-items: center;
  }
  .escrevendo-cargo {
    font-size: 1rem; 
    width: 16ch; 
  }
  .React-logo {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 1101px) {
  .sec-inicio {
    flex-direction: row;
    padding-top: 0;
    padding: 50px 10%;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
    min-height: 100vh;
  }
  .text-inicio h2 {
    font-size: 1.5rem;
  }
  .text-inicio{
    margin-bottom: 0;
    width: auto;
    padding-left: 0;
    padding-right: 10%;
  }
  .name {
    flex-direction: row;
    text-align: left;
    font-size: 2rem;
  }
  .letra-cor:hover {
    color: #83DA8A;
  }
  .escrevendo-cargo-div {
    align-items: center;
  }
  .escrevendo-cargo {
    font-size: 1.5rem; 
    width: 16ch; 
  }
  .letra-cor:hover {
    color: #83DA8A;
  }
  .rede-social:hover {
    background: #83DA8A;
    transform: translateY(-5px);
  }
  .React-logo {
    height: 300px;
    width: 300px;
  }
}