.sec-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
}

.sec-projects-h2 {
  margin-top: 100px;
  flex-direction: row;
}

.sec-projects-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo span {
  color: #83DA8A;
}

.projects-grid {
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
}
.project-item {
  width: calc(50% - 20px);
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative; 
}

.project-item img {
  width: 100%;
  border-radius: 10px;
  display: block; 
  filter: brightness(70%); 
}

.project-item .ver-mais {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #83DA8A; 
  color: #252323;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  z-index: 2; /* botão acima do overlay */
}

.project-item::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 15px; 
  z-index: 1; /* abaixo do botão */
}


@media (max-width: 768px) {
  .project-item {
    width: calc(60% - 20px);
  }
  .project-item .ver-mais {
    font-size: smaller;
    padding: 2%;
  }
}

/* para pc */
@media (min-width: 769px) and (max-width: 1000px) {
  .sec-projects-setup {
    display: none;
  }
  .titulo {
    margin: 0;
  }
  .projects-grid {
    gap: 10px;
  }
}
@media (min-width: 1001px) {
  body {
    justify-content: space-between;
  }
  .titulo {
    margin: 0;
  }
  .project-item {
    width: calc(33.33% - 20px);
  }
  .sec-projects {
    min-height: 100vh;
  }
  .sec-projects-setup {
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0px;
  }

  .sec-projects-h2 {
    position: relative;
  }

  .sec-projects-cont {
    justify-content: center;
    height: 100vh;
  }
  .projects-grid {
    gap: 20px;
    width: 100%;
  }
}
